<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shorty | Short</title>
</head>
<body>
<div>
    <div>
        <ul>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/short}">Short URL</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a th:href="@{/redirect}">Redirect</a></li>
        </ul>
    </div>
    <div>
        <h1>Short URL</h1>
        <form action="#" th:action="@{/short}" method="post" th:object="${shortingRequest}">
            <div>
                <label>Account ID:</label>
                <input type="text" th:field="*{accountId}"/>
                <br/>
                <label>Password:</label>
                <input type="password" th:field="*{password}"/>
                <br/>
                <label>URL:</label>
                <input type="text" th:field="*{url}"/>
                <br/>
                <label>Redirect type:</label>
                <input type="text" th:field="*{redirectType}"/>
                <br/>
                <button type="submit">Short URL</button>
            </div>
        </form>
    </div>
    <div th:if="${successMessage}" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
</div>
</body>
</html>