<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shorty | Statistics</title>
</head>
<body>
<div>
    <div>
        <ul>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/short}">Short URL</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a th:href="@{/redirect}">Redirect</a></li>
        </ul>
    </div>
    <div>
        <h1>Statistics</h1>
        <form action="#" th:action="@{/statistics}" method="post" th:object="${account}">
            <div>
                <label>Account ID:</label>
                <input type="text" th:field="*{accountId}"/>
                <br/>
                <label>Password:</label>
                <input type="password" th:field="*{password}"/>
                <br/>
                <button type="submit">Get statistics</button>
            </div>
        </form>
    </div>
    <div th:if="${successMessage}" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Redirects</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="urlShortener, iterator : ${URLs}">
                    <td th:text="${iterator.index}"></td>
                    <td th:text="${urlShortener.url}"></td>
                    <td th:text="${urlShortener.redirects}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>