<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shorty | Statistics</title>
</head>
<body>
<div>
    <div>
        <ul>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/short}">Short URL</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a th:href="@{/redirect}">Redirect</a></li>
        </ul>
    </div>
    <div>
        <h1>Statistics</h1>
        <form>
            <div>
                <label>Account ID:</label>
                <input type="text"/>
                <br/>
                <label>Password:</label>
                <input type="password"/>
                <br/>
                <button type="submit">Get statistics</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>